<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>AirBnB: Vacation Rentals, Cabins, Beach Houses, ...</title>

    

    <link rel="icon" href="images/title_logo.png" />
  </head>

  <body>
    <!-- <div></div> -->
  </body>
</html>
