<link rel="stylesheet" href="/css/footer.css" />
<div class="footer">
  <div class="footer-item">
    <div class="location-nav-link">
      <div class="location-nav-link-title">
        <span>Support</span>
      </div>
      <div class="footer-nav-link-item">
        <span>Hellp center</span>
        <span>Safey information</span>
        <span>Cancellation options</span>
        <span>Our COVID-19 response</span>
        <span>Supporting people with disabilities</span>
        <span>Report a neighbourhood concern</span>
      </div>
    </div>

    <div class="location-nav-link">
      <div class="location-nav-link-title">
        <span>Community</span>
      </div>
      <div class="footer-nav-link-item">
        <span>Airbnb.org: disaster relief housing</span>
        <span>Support Afghan refugees</span>
        <span>Celebrating diversity and belonging</span>
        <span>Combaing discrimination</span>
      </div>
    </div>

    <div class="location-nav-link">
      <div class="location-nav-link-title">
        <span>Hosting</span>
      </div>
      <div class="footer-nav-link-item">
        <span>Try hosting</span>
        <span>AirCover: protection for Hosts</span>
        <span>Explore hosting resources</span>
        <span>Visit our community forum</span>
        <span>How to host responsibly</span>
      </div>
    </div>

    <div class="location-nav-link">
      <div class="location-nav-link-title">
        <span>About</span>
      </div>
      <div class="footer-nav-link-item">
        <span>Newsroom</span>
        <span>Learn about new features</span>
        <span>Letter from our founders</span>
        <span>Careers</span>
        <span>Investors</span>
        <span>Airbnb Luxe</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="copyright-section">
    <div class="copyright">© 2022 Airbnb, Inc. ·Privacy ·Terms ·Sitemap</div>
    <div class="languange-currency">
      <div>English (US)</div>
      <div>$ USD</div>
      <img src="images/facebook.png" alt="" />
      <img src="images/twitte.png" alt="" />
      <img src="images/instagram.png" alt="" />
    </div>
  </div>
</div>
